---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			Je suis titulaire du titre de Concepteur Développeur d'Applications obtenu à l'école réputée ENI de Quimper. Mes compétences incluent de solides pratiques en PHP, JavaScript, SQL et le framework Symfony.
		</p>
		<p>
		Grâce à ma formation et à mon expérience, je suis capable de concevoir et de développer des applications web performantes et innovantes, en utilisant les meilleures technologies et méthodologies actuelles.
		</p>
	</div>
</section>
