---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/avatar-dimitri.webp"
			alt="Photo de profil de Dimitri F."
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos de moi" />
			<p class="about__text">
				Je m'appelle Dimitri et je suis développeur. 
			</p>
			<p class="about__text">
				J'aime créer des solutions innovantes et aborder les défis techniques de manière créative. 
			</p>
			<p class="about__text">
				Avant cela, j'ai travaillé dans le service client, ce qui m'a permis de développer de solides compétences en communication, ce qui m'aide énormément dans les projets d'équipe.
			</p>
			<p class="about__text">
			Pendant mon temps libre, j'aime me ressourcer en me promenant dans la nature, cela m'aide à revenir avec des idées fraîches et une énergie renouvelée.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
