---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/avatar-dimitri.webp"
			alt="Photo de profil de Dimitri F."
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos de moi" />
			<p class="about__text">
				J'aime créer des solutions innovantes et aborder les défis techniques de manière créative. 
			</p>
			<p class="about__text">
				Pendant mon temps libre, j'aime me ressourcer en me promenant dans la nature, cela m'aide à revenir avec des idées fraîches et une énergie renouvelée.
			</p>
			<p class="about__text">
				Aussi, j'adore la science-fiction. Elle stimule mon imagination et me fait rêver à des futurs possibles.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
