---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="dimitriF">
	<div class="terminal__skills">
		<h2>Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#EFD81D"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/assets/php.svg"
				color="#8892BF"
				name="Php"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#005E86"
				name="MySQL"
			/>
			
			
			
		</div>
	</div>
</Terminal>
